@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{margin:0; padding:0;}
a{text-decoration:none;}
img{border:0; vertical-align:top;}
li{list-style:none;}
body{line-height:1.6; color:#3c3c3c; font-size:15px; font-family:'Noto Sans KR', sans-serif; word-spacing:2px; padding:20px 0;}

.r_wrap{padding:10px 0 10px 0; width:990px; margin:0 auto;}

/************************************************/
/******************** 결과지 ********************/
/************************************************/

/******************** 타이틀 영역 ********************/
.r_title{height:82px; position:relative; background:#f9f9f9; border:1px solid #e1e1e1; border-radius:10px; z-index:100; margin-bottom:13px; box-sizing:border-box;}
.r_title h2, .r_title ul, .r_title .r_puzzle{position:absolute;}
.r_title h2{top:22px; left:30px; font-weight:500;}
.r_title h2 img{margin-right:5px;}
.r_title ul{overflow:hidden; right:30px; top:29px;}
.r_title li{float:left; padding-left:18px;}
.r_title .r_puzzle{right:90px; top:80px;}

/******************** 기본정보 영역 ********************/
.r_info{padding:0 10px 0 18px; margin:-20px 0 0 0; overflow:hidden; box-sizing:border-box; width:800px;}
.r_info li{list-style:square; float:left; width:50%; height:30px;}
.r_info li.full{width:100%;}
.r_info_line{height:1px; border-bottom:1px dashed #aaa; margin:20px 0;}

/******************** 컨텐츠 영역 ********************/
.r_content{background:#fff; border:1px solid #e1e1e1; border-radius:10px; padding:40px 40px; box-sizing:border-box; position:relative;}
.r_content h3{font-weight:500; font-size:18px; padding-bottom:10px; position:relative;}
.r_content h3 img{vertical-align:middle; margin:-3px 2px 0 0;}
.r_content h4.r_caption{font-weight:500; font-size:16px; padding-bottom:10px; padding-left:10px;}
.r_content h4.r_caption img{vertical-align:middle; margin:-3px 1px 0 0; width:3px;}

.r_mid{overflow:hidden; box-sizing:border-box;}
.r_mid .left{float:left;}
.r_mid .right{float:right;}
.r_mid h4, .r_mid b{font-weight:500;}
.r_mid .top{border:3px solid #34b2e3; text-align:center; padding:10px 0; margin-bottom:10px;}
.r_mid .br_blue{border-color:#34b2e3;}
.r_mid .br_green{border-color:#81bc35;}
.r_mid .top h4{font-size:16px; font-weight:500;}
.r_mid .bottom{text-align:justify; padding-top:10px;}

.r_bottom{overflow:hidden;}
.r_bottom .left{float:left; width:43%;}
.r_bottom .right{float:right; text-align:justify; width:52%;}
.r_bottom .txt{text-align:center; padding:10px 0 0 0;}
.r_bottom h4{font-weight:500; font-size:16px; padding-bottom:2px;}
.orange{color:#ea7736;}
.green{color:#54dac1;}
.red{color:#ff6064;}
.ygreen{color:#a4da3c;}
.purple{color:#633d94;}
.blue{color:#125ea9;}
.copyright{width:990px; margin:0 auto; text-align:right; font-size:14px; padding-right:10px;}

/************************************************/
/******************** 검사지 ********************/
/************************************************/

/************ 레이아웃 및 시작과 끝 *************/
.t_wrap{padding:20px 0 10px 0; width:100%; margin:0 auto; color:#232323;}
.t_wrap a{color:#232323;}

.t_title{height:82px; position:relative; border-radius:10px; z-index:100; margin-bottom:14px; box-sizing:border-box;}
.t_title h2, .t_title ul, .t_title .t_puzzle{position:absolute;}
.t_title h2{top:22px; left:30px; font-weight:500;}
.t_title h2 img{margin-right:5px;}
.t_title ul{overflow:hidden; right:20px; top:28px; height:40px;}
.t_title li{float:left; padding:0 20px; font-size:16px; position:relative;}
.t_title li b{font-weight:500;}
.t_title li.active span{position:absolute; background:rgba(255,255,255,0.9); height:2px; width:70%; top:30px; left:15%;}
.t_title .t_puzzle{right:90px; top:82px;}

.t_content{position:relative;}
.t_content .top{overflow:hidden;}
.t_content .top .left{float:left; background:#fff; border-radius:10px 0 0 0; width:827px; height:65px;}
.t_content .top .right{float:right; background:#fff; border-radius:0 10px 0 0; width:90px; height:65px;}
.t_content .bottom{background:#fff; border-radius:0 0 10px 10px; padding:10px 0 20px 0; min-height:500px;}
.img{text-align:center;}
.img img{height:294px;}
.txt{padding:25px 0 0 0; text-align:center; font-size:14px; line-height:1.9;}
.txt h2{font-weight:500; padding-bottom:10px; color:#111; text-align:center;}
.txt h2 span{font-weight:400;}

.t_copyright{width:990px; margin:0 auto; text-align:right; font-size:14px; padding-right:10px;}

.pop_quiz_wrap{width:100%; padding:30px 3% 0 3%; max-width:900px; margin:0 auto;}

@media only screen and (max-width:991px){
.t_content .top .left{width:597px;}
.t_content .top .right{width:90px;}
.img img{width:100%; height:auto;}
.t_copyright{width:760px; margin:0 auto;}
}
@media only screen and (max-width:767px){
.t_title .t_puzzle{display:none;}
.t_title h2{font-size:20px}
.t_title ul{right:15px;}
.t_title li{padding:0 10px; font-size:15px;}
.t_content .top{display:none;}
.txt{text-align:justify;}
.t_copyright{width:94%;}	
}
@media only screen and (max-width:479px){
.t_title h2{top:28px; left:15px; font-size:15px; letter-spacing:-0.5px;}
.t_title h2 img{width:30px; margin-right:1px; vertical-align:-4px;}
.t_title ul{right:4px; top:31px;}
.t_title li{padding:0 3px; font-size:14px;}
.t_title li:hover span{width:90%; left:5%; top:28px;}
.t_title li.active span{width:90%; left:5%; top:28px;}
}

/************** 정보 입력 **************/
.table_info{border-top:1px solid #e6e6e6; margin-bottom:80px; margin-top:20px;}
.table_info select, .table_info input{vertical-align:middle;}
.table_info th, .table_info td{border-bottom:1px solid #e6e6e6;}
.table_info th{font-weight:400; padding-left:30px; width:18%; text-align:left;}
.table_info td{padding:10px 10px 10px 0;}
.table_info .Input{border:1px solid #e6e6e6; height:36px; box-sizing:border-box; padding-left:10px; width:300px;  background:#fff;}
.table_info .Select{border:1px solid #e6e6e6; height:36px; box-sizing:border-box; padding-left:10px; width:120px; background:#fff;}
.table_info .Input_2{border:1px solid #e6e6e6; height:36px; box-sizing:border-box; padding-left:10px; width:160px;  background:#fff;}
.table_info .Input_3{border:1px solid #e6e6e6; height:36px; box-sizing:border-box; padding-left:10px; width:150px; background:#fff;}
.table_info .Input_4{border:1px solid #e6e6e6; height:36px; box-sizing:border-box; padding-left:10px; width:120px; background:#fff;}
.table_info span{display:inline-block;}
.table_info .t_btn{height:36px; line-height:32px; width:100px; font-size:13px; box-sizing:border-box; border-width:2px; vertical-align:top; font-weight:500;}

@media screen and (max-width: 991px) {
.table_info th{padding-left:20px; width:20%;}
.table_info .Input{width:210px;}
.table_info .Select{width:110px;}
}
@media screen and (max-width:767px) {
.table_info th{padding-left:10px; width:22%;}
.table_info td{padding:10px 5px 10px 0;}
.table_info .Input{width:150px;}
.table_info .Select{width:95px;}
}
@media screen and (max-width:479px) {
.table_info{font-size:13px;}
.table_info th{padding-right:2px; padding-left:2px; width:23%; line-height:1.2;}
.table_info .Select,.table_info .Input_3{width:28%}
.table_info span .Select{width:40%; margin-top:5px;}
}

/************** 검사 실시 **************/
.t_number{font-size:40px; padding-left:10px; position:relative; height:62px; margin-top:0; box-sizing:border-box;}
.t_number span{position:absolute; width:42px; height:3px; bottom:0; left:13px;} 
.t_number b{font-size:18px; font-weight:400; vertical-align:middle; line-height:1.5; display:inline-block; width:calc(100% - 210px); padding-left:12px;}

.t_number_0{font-size:36px; padding-left:10px; position:relative; height:62px; margin-top:-60px; font-weight:500;}
.t_number_0 span{position:absolute; width:125px; height:3px; bottom:0; left:13px;} 

.page{text-align:right; font-size:17px; padding-right:10px; padding-bottom:5px;}
.page span{font-size:20px; font-weight:600;}

/************** 1번 테이블 유형 **************/

.table{overflow:hidden; font-size:14px; border-bottom:1px solid #d5d5d5; margin-bottom:80px;}
.table .left{float:left; width:50%;}
.table .right{float:right; width:50%;}
.table .left table{border-left:1px solid #d5d5d5;}
.table .height{height:106px;}
.table th{font-weight:400; background:#fbfbfb; text-align:center; height:45px; padding:4px 0; border-top:1px solid #494949; border-right:1px solid #d5d5d5; line-height:1.3; font-size:13px;}
.table td{text-align:center; height:44px; padding:4px 0; border-top:1px solid #d5d5d5; border-right:1px solid #d5d5d5; line-height:1;}
.table .question{text-align:left; padding-left:15px; padding-right:5px;}
.table .left .num{width:13%;}
.table .right td{width:14.2%;}
.table .right th img{width:100%;}
.table .bar{position:relative; text-align:center; padding-top:5px;}
.table .bar .left{position:absolute; left:0; text-align:left; padding-left:10px;}
.table .bar .right{position:absolute; right:0; text-align:right; padding-right:10px;}

/************** 라디오 버튼 관련 **************/
.radio_box input[type="radio"]{display:none;}
.radio_box input[type="radio"] + label span{display:inline-block; width:24px; height:24px;   border:2px solid #e1e6ea; box-sizing:border-box; cursor:pointer; border-radius:50%; vertical-align:middle;}

@media only screen and (max-width:991px){
.t_number b{font-size:16px; width:calc(100% - 200px); padding-left:10px;}
	
.table{font-size:13px;}
.table th{letter-spacing:-1px;}
.table .question{padding-left:10px; padding-right:4px;}
.radio_box input[type="radio"] + label span{width:22px; height:22px;}
}
@media only screen and (max-width:767px){
.t_number{font-size:32px; height:54px; margin-top:-20px;}
.t_number span{width:36px; left:10px;} 
.t_number b{font-size:16px; width:calc(100% - 65px);}

.t_number_0{font-size:28px; height:54px; margin-top:-10px;}
.t_number_0 span{width:102px; height:3px; left:10px;} 

.table .left, .table .right{float:none; width:100%;}
.table .right th:first-child, .table .right td:first-child{border-left:1px solid #d5d5d5;}
.table .left .num{width:18%; border-right:0;}
.table .question{padding-left:0; padding-right:3px;}
.table .left_0{display:none;}

.table .height{height:52px;}
}
@media only screen and (max-width:639px){
.t_number b{font-size:15px; width:100%; padding:10px 0 0 0; display:block; text-align:justify;}	
.t_number.auto_height{height:auto; margin-bottom:10px;}
.t_number span{top:51px;} 
}

@media only screen and (max-width:479px){
.t_number b{font-size:14px;}	
.table .question{padding-right:2px;}
.radio_box input[type="radio"] + label span{width:20px; height:20px;}
.table td{height:34px; padding:4px 0;}
}

/************** 2번 객관식 유형 **************/
.img_question img{width:100%;}
.choose{margin-top:30px; overflow:hidden; margin-bottom:80px;}
.choose li{float:left; width:20%; text-align:center;}
.choose li a{display:inline-block; width:34px; height:34px; line-height:34px; border-width:2px; border-style:solid; border-radius:50%; font-size:17px; font-weight:bold;}
@media only screen and (max-width:479px){
.choose li a{width:30px; height:30px; line-height:30px; font-size:16px;}
}

/************** 3번 주관식 유형 **************/
.textarea{margin-top:30px; margin-bottom:80px;}
textarea{width:100%; border:1px solid #d5d5d5; padding:10px 12px; font-size:16px;font-family:'Noto Sans KR', sans-serif; height:80px; box-sizing:border-box;}

/************** 4번 학부모 기본 설문 **************/
.quiz_img_area img{width:100%; display:block; margin:0 auto; max-width:500px; padding:10px; background-color:#f9f9f9;}
.basic_q{background:#fafafa; text-align:center; font-size:16px; padding:10px 15px; border:2px solid #e6e6e6; margin:20px 0 0 0;}
.choose_0{}
.choose_0 li{padding-top:15px; font-size:15px; padding-left:5px;}
.choose_0 li span{display:inline-block; width:34px; height:34px; line-height:29px; border-width:2px; border-style:solid; border-radius:50%; font-size:16px; font-weight:bold; text-align:center; margin-right:5px;}
.choose_0 li:last-child{padding-left:40px; padding-top:15px;}
.choose_0 li:last-child input{width:100%; padding-left:10px; height:36px; border:1px solid #e6e6e6; box-sizing:border-box; font-size:16px;}

.choose_0.images{}
.choose_0.images li span{display:block; margin:0 0 10px 0;}
.choose_img{width:100%; max-width:320px; display:block;}
@media only screen and (min-width:768px){
.choose_0.images{display:flex; flex-direction:row; flex-wrap:wrap; justify-content:space-between;}
.choose_0.images li{width:45%;}
}

/************** 버튼 관련 **************/
.txt_center{text-align:center; padding-top:20px;}
.btn_center{text-align:center; position:absolute; width:100%; bottom:30px; left:0;}
.t_btn{width:120px; height:40px; line-height:38px; text-align:center; border:3px solid #fff; display:inline-block; font-size:17px; font-weight:500;}

/************** 검사결과 마지막 홍보지 **************/
.r_content.last{padding:50px 0 55px 0;}
.r_content h2{text-align:center; font-size:36px; margin:0 0 20px 0;}
.r_content h2 img{width:20px; margin:15px 0 0 4px;}
.bg_tri{padding:50px 0 45px 0; border-top:1px solid #eee; border-bottom:1px solid #eee;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
background: #f2f5f6; /* Old browsers */
background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
}
.bg_tri .top_tri{position:relative; width:417px; height:415px; margin:0 auto;}
.bg_tri .top_tri span, .top_tri .p_1, .top_tri .p_2, .top_tri .p_3, .top_tri .p_4{position:absolute;}
.top_tri .p_1{top:0; left:0;}
.top_tri .p_2{top:-15px; right:-16px;}
.top_tri .p_3{bottom:0; right:0;}
.top_tri .p_4{bottom:0; left:0;}
.bg_tri .top_tri span{line-height:1.2;}
.bg_tri .top_tri span h4{font-size:17px; font-weight:500; padding-bottom:5px;}
.top_tri .p_1 span{left:-92px; text-align:right; bottom:10px;}
.top_tri .p_2 span{right:-201px; text-align:left; bottom:95px;}
.top_tri .p_3 span{right:-149px; text-align:left; bottom:10px;}
.top_tri .p_4 span{left:-184px; text-align:right; bottom:10px;}

.bg_tri .bottom_tri{width:750px; margin:50px auto 0 auto;}
.bg_tri .bottom_tri li{background:#fff; margin-bottom:10px; padding:20px 0; border-radius:10px; border:5px solid #fff; box-sizing:border-box;}
.bg_tri .bottom_tri li:first-child{border-color:#a4c235;}
.bg_tri .bottom_tri li:nth-child(2){border-color:#9dc0fd;}
.bg_tri .bottom_tri li:last-child{border-color:#e5688b;}
.bg_tri .bottom_tri li td:last-child{width:410px;}
.bg_tri .bottom_tri th{text-align:center; width:150px;}
.bg_tri .bottom_tri h4{font-size:17px; padding-left:5px;}
.bg_tri .bottom_tri b{font-weight:500;}

.r_bottom_last{padding:30px 40px 0 40px;}
.r_bottom_last .txt{font-size:18px; font-weight:500; line-height:1.5;}
.r_bottom_last .txt span{color:#ea7736;}
.r_bottom_last .txt p{font-size:15px; font-weight:400; padding:25px 0 0 0;}

.r_lyf_high{overflow:hidden; position:relative; padding-top:10px; padding-bottom:20px; line-height:1.7;}
.r_lyf_high .line{position:absolute; top:10px; left:50%; width:1px; height:1150px; border-left:2px dotted #bbb;}
.r_lyf_high .left{float:left; width:48%;}
.r_lyf_high .right{float:right; width:48%;}
.r_lyf_high .arrow{display:block;}
.r_lyf_high .left .arrow{margin:10px 105px 10px auto;}
.r_lyf_high .right .arrow{margin:10px auto 10px 105px;}
.r_lyf_high h3{text-align:center; padding:20px 0 25px 0; font-size:20px;}

.r_lyf_high li{border:5px solid #fff; border-radius:10px; box-sizing:border-box; padding:20px 0; margin-bottom:15px; font-size:14px;}
.r_lyf_high li:last-child{margin-bottom:0;}
.r_lyf_high th{width:104px; text-align:center;}
.r_lyf_high h4{font-weight:500; font-size:16px; padding-bottom:2px;}
.r_lyf_high h4 span{font-weight:400; font-size:14px;}
.r_lyf_high b{font-weight:500;}
.r_lyf_high h5{padding:25px 0 10px 0; font-size:17px;}

/************** 검사결과 점수 **************/
.tb_result{border-collapse:separate; border-spacing:1px; margin-top:35px;}
.tb_result th, .tb_result td{border:1px solid #ddd; text-align:center;}
.tb_result th{background:#fafafa; font-weight:500; height:40px;}
.tb_result td{height:36px; padding:3px 0;}
.tb_result .left{padding:3px 10px; font-size:13.5px; text-align:left; line-height:1.3;}
.tb_result td span{color:#2a8fdd; font-size:18px; font-weight:500;}
.tb_result td b{color:#c00; font-size:18px; font-weight:500;}
.tb_result .group{height:36px; background:#fff; text-align:left; padding-left:25px; color:#000; border:1px solid #333;}

/************** 학생의 여가시간 **************/
.list_free{margin:0 auto 0 auto; padding-left:20px; width:66%;}
.list_free li{list-style:circle; height:40px; position:relative; font-size:16px;}
.list_free li b{position:absolute; right:25px; top:0; color:#2a8fdd; font-weight:500;}

hr{page-break-before:always; visibility:hidden;}

h3.title{border:3px solid #34b2e3; padding:10px 15px; text-align:center; font-size:20px; margin:30px 0 20px 0; border-radius:3px;}
div.list{padding:4px 5px; line-height:1.7;}
div.list img{margin:11px 1px 0 0;}