@charset "utf-8";
/*****************************
res_wrap : 공통 반응형 박스
add : inline요소
add_block : block요소
blind : inline, block 모두 display:none으로 처리
ch_align : 텍스트정렬방식
box_list2 : 박스나열 1라인당 2개씩
*****************************/

/*common*/
.res_wrap{width:1200px;margin:0 auto;}
.add1024{display:none !important;}
.add950{display:none !important;}
.add768{display:none !important;}
.add480{display:none !important;}
.add_block1024{display:none !important;}
.add_block768{display:none !important;}
.add_block480{display:none !important;}
.add_inblock1024{display:none !important;}
.add_inblock768{display:none !important;}
.add_inblock480{display:none !important;}

.ch_align{text-align:center;}
/*box_list*/
.box_list2{}
.box_list2>div{ float:left;width:47%;margin-right:6%;margin-bottom:25px;text-align:center;}
.box_list2>div.last{margin-right:0;}


@media screen and (max-width:1300px){
 /*common*/
 .res_wrap{width:95%;margin:0 auto;}
 .blind1280{display:none !important;}
}
@media screen and (max-width:1024px){
 /*common*/
 .res_wrap{width:95%;margin:0 auto;}
 .add1024{display:inline !important;}
 .add_block1024{display:block !important;}
 .add_inblock1024{display:inline-block !important;}
 .blind1024{display:none !important;}
}
@media screen and (max-width:950px) {
 /*common*/
 .add950{display:block !important;}
}
@media screen and (max-width:768px) {
 /*common*/
 .res_wrap{width:92%;margin:0 auto;}
 .add768{display:inline !important;}
 .add_block768{display:block !important;}
 .add_inblock768{display:inline-block !important;}
 .blind768{display:none !important;}
 .ch_align{text-align:justify;}
}
@media screen and (max-width:650px) {
 .add650{display:inline !important;}
}
@media screen and (max-width:480px) {
 /*common*/
 .res_wrap{width:auto; margin:0 12px;}
 .add480{display:inline !important;}
 .add_block480{display:block !important;}
 .add_inblock480{display:inline-block !important;}
 .blind480{display:none !important;}
 /*box_list*/
 .box_list2>div{float:none;width:100%;margin-right:0 !important;margin-bottom:20px;}
}