@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Jua&display=swap&subset=korean);

*{margin:0; padding:0; box-sizing:border-box;}
ul, ol, li{list-style:none;}
a{text-decoration:none;}
input, textarea, select{outline:none;}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder{color:transparent;}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder{color:transparent;}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder{color:transparent;}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder{color:transparent;}

input[type=text], input[type=password], input[type=email], input[type=number]{padding-left:10px;}
select{padding-left:10px;}

html,body{}
body{font-size:14px; font-family:'Noto Sans KR', sans-serif; line-height:1; color:#555; letter-spacing:-0.5px;}
textarea{font-family:'Noto Sans KR', sans-serif; text-align:justify; padding:10px;}
.overflow_auto{overflow:auto; width:100%;}
h1,h2,h3,h4,h5,h6{color:#333;}
.ellipsis{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

@media all and (min-width:1280px){
body{font-size:16px;}
}

/** 버튼 영역 **/
.button_wrap{padding-top:25px;}
.flex_justify{display:flex; flex-direction:row; justify-content:space-between;}
.text_center{text-align:center;}
.text_right{text-align:right;}
.button{display:inline-block; text-align:center;}

.button_yellow{background-color:#fec726; color:#333; display:block; height:60px; line-height:60px; text-align:center; font-size:22px; font-weight:500;}
.button_orange_arrow{background-color:#ff903b; color:#fff; display:block; height:80px; line-height:80px; text-align:center; font-size:24px;}
.button_orange_arrow img{width:15px; vertical-align:-4px; margin:0 0 0 15px;}
.button_yellow_arrow{background-color:#fec726; color:#333; display:block; height:80px; line-height:80px; text-align:center; font-size:24px;}
.button_yellow_arrow img{width:15px; vertical-align:-4px; margin:0 0 0 15px;}

.button_member_yellow{background-color:#fec726; color:#333; display:inline-block; width:50%; height:50px; line-height:50px; text-align:center; font-size:20px; font-weight:500;}
.button_member_gray{background-color:#b6b6b6; color:#fff; display:inline-block; width:50%; height:50px; line-height:50px; text-align:center; font-size:20px; font-weight:500;}

.button_black_yellow{display:inline-block; width:130px; height:36px; line-height:36px; text-align:center; background-color:#333; color:#c1d3e2; font-size:16px;}
.button_yellow_black{display:inline-block; width:120px; height:36px; line-height:36px; text-align:center; background-color:#92afca; color:#333; font-size:16px;}
.button_blue_white{display:inline-block; width:290px; height:66px; line-height:66px; text-align:center; background-color:#6094da; color:#fff; font-size:18px; font-weight:500;}
.button_orange_white{display:inline-block; width:100%; height:66px; line-height:66px; text-align:center; background-color:#ff903b; color:#fff; font-size:18px; font-weight:500;}

.button_orange_white_round{display:flex; justify-content:center; align-items:center; width:180px; height:180px; background-color:#ff903b; color:#fff; font-size:24px; font-weight:500; border-radius:50%; margin:0 auto 30px auto;}

.button_br_black{display:inline-block; border:1px solid #333; color:#333; width:80px; height:30px; line-height:28px; text-align:center; font-size:16px;}
.button_br_yellow{display:inline-block; border:1px solid #92afca; color:#92afca; width:120px; height:36px; line-height:34px; text-align:center; font-size:16px;}
.button_br_gray{display:inline-block; border:1px solid #dadada; color:#666; width:120px; height:36px; line-height:34px; text-align:center; font-size:14px;}

.button_whtie_border_arrow{width:220px; height:48px; line-height:46px; border:1px solid #727272; color:#444; display:inline-block; background:url(../images/arrow_go.png) no-repeat 91% 50%; background-size:12px; text-align:left; background-color:#fff; padding-left:20px; font-size:15px;}

.button_whtie_border_arrow_3{width:220px; height:48px; line-height:46px; border:1px solid #727272; color:#444; display:inline-block; background-size:12px; text-align:center; background-color:#f1f1f1; font-size:15px;}

.button_whtie_border_arrow_2{width:250px; height:60px; line-height:60px; border:1px solid #727272; color:#444; display:inline-block; background:url(../images/arrow_go.png) no-repeat 88% 50%; background-size:12px; text-align:left; background-color:#fff; padding-left:30px; font-size:22px; font-weight:500;}

.button_sea_white{display:inline-block; width:120px; height:40px; line-height:40px; font-size:14px; font-weight:500; text-align:center; background:#68ccce; color:#fff;}

.button_black_white{display:inline-block; width:120px; height:40px; line-height:40px; font-size:14px; font-weight:500; text-align:center; background:#333; color:#fff;}

.button_gradient{background:url(../images/bg_btn_gradient.png) no-repeat center; background-size:cover; display:inline-block; width:170px; height:44px; line-height:44px; font-size:16px; font-weight:500; text-align:center; color:#fff;}

/** 글씨 색상 **/
.color_yellow{color:#ffd83f;}
.color_orange{color:#ff903b;}

/** 배경 색상 **/
.bg_yellow{background-color:#fcf9f0;}

/** 체크박스 **/
.check_wrap .input_check{display:none;}
.check_wrap .label{padding-left:23px; position:relative; cursor:pointer;}
.check_wrap .label .bullet_check{position:absolute; width:17px; height:17px; border:1px solid #dadada; left:0; top:2px; border-radius:50%;}
.check_wrap .input_check:checked + .label .bullet_check{background-image:url(../images/input_radio_indigo.png); background-size:100%;}

/** 라디오박스 **/
.radio_wrap .input_radio{display:none;}
.radio_wrap .label{padding-left:23px; position:relative; cursor:pointer;}
.radio_wrap .label .bullet_radio{position:absolute; width:17px; height:17px; border:1px solid #dadada; left:0; top:2px; border-radius:50%;}
.radio_wrap .input_radio:checked + .label .bullet_radio{background-image:url(../images/input_radio_orange.png); background-size:100%;}

/** 헤더 영역 **/
.header_wrap{width:100%; position:fixed; top:0; left:0; z-index:10000; transition:0.3s; height:80px; background-color:rgba(255,255,255,0.95); box-shadow:0 1px 10px rgba(0,0,0,0.1);}
.header_logo{position:absolute; width:100px; left:12px; top:10px;}
.navi_mobile_bar{position:absolute; font-size:26px; color:#555; right:12px; top:40px;}

.header_welcome{position:absolute; right:100px; top:17px; color:#999; font-size:14px; display:none;}
.header_welcome b{color:#77c03b; font-weight:500;}

.navi_lnb{position:absolute; width:100%; top:80px; left:0; text-align:center; background-color:rgba(1,71,133,0.9); z-index:1000; display:none;}
.navi_lnb li{line-height:46px;}
.navi_lnb li > a{display:block; color:#fff; font-size:14px; transition:0.3s; padding:0;}
.navi_lnb li:hover > a{color:#7cc343;}
.navi_lnb li.active > a{color:#7cc343;}

.navi_gnb{overflow:hidden; position:absolute; right:10px; top:10px;}
.navi_gnb li{float:left; line-height:20px; font-size:13px;}
.gnb_link{color:#fff; background-color:#014785; display:block; width:72px; text-align:center; height:24px; line-height:24px; border-radius:12px;}
.navi_gnb li:last-child{padding:0 0 0 5px;}

@media all and (min-width:480px){

}

@media all and (min-width:640px){
/** 버튼 영역 **/
.button_wrap{padding-top:30px;}	
}

@media all and (min-width:768px){
/** 버튼 영역 **/
.button_wrap{padding-top:35px;}	
}

@media all and (min-width:1024px){
/** 버튼 영역 **/
.button_wrap{padding-top:40px;}		
	
/** 헤더 영역 **/
.header_wrap{height:90px;}
.header_area{width:980px; margin:0 auto; position:relative;}
.header_logo{width:125px; left:0; top:10px;}
.navi_mobile_bar{display:none;}
    
.header_welcome{display:block;}

.navi_lnb{display:block !important; background:none;  left:auto; top:55px; right:0; width:auto;}	
.navi_lnb li{float:left; line-height:1; font-weight:500; padding:0 0 0 110px;}
.navi_lnb li > a{color:#333; display:block; font-size:17px;}
.navi_lnb li:hover > a{color:#014785;}
.navi_lnb li.active > a{color:#014785;}
.navi_mypage{display:none;}

.navi_gnb{right:0; top:11px;}
.navi_gnb li{line-height:22px; font-size:14px;}

.gnb_link{width:84px; height:26px; line-height:26px; border-radius:13px;}
.navi_gnb li:last-child{padding:0 0 0 10px;}
}

@media all and (min-width:1280px){
/** 버튼 영역 **/
.button_wrap{padding-top:45px;}			

/** 헤더 영역 **/
.header_area{width:1000px;}
.navi_lnb li{padding:0 0 0 130px;}
}

.sub_white_btn{width:190px; height:48px; line-height:46px; border:1px solid #727272; color:#444; display:inline-block; background:url(../images/arrow_go.png) no-repeat 160px 17px; background-size:12px; text-align:left; background-color:#fff; padding-left:20px;}

/** 서브 비주얼 **/
.sub_visual_wrap{overflow:hidden; position:relative; height:240px;}
.sub_visual{width:100%; height:190px; background-size:cover; background-repeat:no-repeat; background-position:center top; position:absolute; left:0; top:60px; display:none;}
.sub_visual_text_wrap{width:100%; position:relative; margin:0 auto;}
.sub_visual_text{position:absolute; left:10px; top:68px; color:#333; font-size:15px; text-align:center; width:119px; line-height:1.1;}
.sub_visual_bold{font-size:28px; display:block; font-weight:500; padding:0 0 2px 0;}
.sub_visual_bold.slp{font-size:21px;}
.sub_visual_small{font-size:10px;}

/** 서브 랩 공통 **/
.sub_wrap{padding:80px 0 0 0;}
.sub_title_wrap{padding:40px 3% 30px 3%; text-align:center;}
.sub_title_wrap_gray{background-color:#f7f7f7;}
.sub_title{display:inline-block; font-weight:400; color:#333; font-size:24px; padding:0 20px; height:54px; line-height:52px; border:1px solid #333;}
.sub_title_bold{font-weight:500;}
.sub_title_logo{width:95px; vertical-align:-2px; margin:0 2px 0 4px;}

.sub_title_common_wrap{padding:40px 3% 30px 3%; text-align:center;}
.sub_title_common{font-size:24px; text-align:center; position:relative; padding:0 0 25px 0; color:#333; font-weight:400;}
.sub_title_common b{font-weight:500;}
.sub_title_common:after{content:''; position:absolute; width:64px; height:2px; bottom:0; left:50%; transform:translateX(-50%); background-color:#333;}

.caption_sub{text-align:center; font-weight:500; font-size:21px; padding:0 0 20px 0; color:#333; font-family:'Jua', sans-serif;}
.caption_sub .normal{font-weight:400; vertical-align:top;}

.caption_sub_line{text-align:center; font-weight:500; font-size:23px; padding:0 0 22px 0; position:relative; color:#333; margin-bottom:25px; font-family: 'Jua', sans-serif;}
.caption_sub_line:after{content:''; position:absolute; width:66px; height:2px; background-color:#333; bottom:0; left:50%; margin:0 0 0 -33px;}
.caption_sub_line .normal{font-weight:400; vertical-align:top;}

.caption_sub_text{text-align:center; color:#444; font-size:13px; line-height:1.4; margin:0 0 30px 0;}
.caption_sub_text .break{display:inline;}

.caption_sub_img{text-align:center; font-weight:400; font-size:23px; padding:0 0 20px 0; color:#333; font-family: 'Jua', sans-serif;}
.caption_sub_img b{font-weight:500;}
.caption_sub_img img{width:30px; vertical-align:-5px; margin:0 10px 0 0;}

.caption_left_common{color:#333; font-weight:400; font-size:20px; padding:0 0 15px 2px; position:relative;}
.caption_left_common b{font-weight:500;}
.caption_left_common span{position:absolute; right:1px; top:7px; font-size:14px; color:#555; display:none;}
.caption_left_common span b{color:#ff903b;}
.caption_left_common.margin{margin:50px 0 0 0;}

.caption_left_common_span{color:#333; font-weight:400; font-size:20px; padding:0 0 15px 2px; position:relative;}
.caption_left_common_span b{font-weight:500;}
.caption_left_common_span span{position:absolute; right:1px; top:7px; font-size:14px; color:#555;}

.bg_gray{background-color:#fcf9f0; border-bottom:1px solid #e3e3e3;}
.bg_image{background:url(../images/bg_sub_pattern.png) no-repeat; background-size:cover; background-color:#fcf9f0;}

@media all and (min-width:480px){
	
}
@media all and (min-width:640px){
/** 서브 비주얼 **/
.sub_visual_wrap{height:260px;}
.sub_visual{height:210px; left:0; top:50px;}
.sub_visual_text{left:60px; top:74px; font-size:16px; width:130px;}
.sub_visual_bold{font-size:28px;}	
.sub_visual_small{font-size:11px;}

/** 서브 랩 공통 **/
.sub_title{font-size:29px; padding:0 25px; height:68px; line-height:66px;}
.sub_title:after{width:60px; margin-left:-30px;}
.sub_title_logo{width:116px; margin:0 2px 0 4px;}

.sub_title_common{font-size:28px; padding:0 0 30px 0; margin:0 0 30px 0;}

.caption_sub{font-size:27px;}
.caption_sub_line{font-size:27px;}
.caption_sub_text{font-size:15px;}
.caption_sub_text .break{display:block;}

.caption_sub_img{font-size:27px;}
.caption_sub_img img{width:34px; vertical-align:-4px; margin:0 12px 0 0;}
}
@media all and (min-width:768px){
/** 서브 비주얼 **/
.sub_visual_wrap{height:280px;}
.sub_visual{height:230px;}
.sub_visual_text_wrap{width:760px;}
.sub_visual_text{left:90px; top:82px; font-size:17px;}
.sub_visual_bold{font-size:32px;}
.sub_visual_bold.slp{font-size:23px;}	

/** 서브 랩 공통 **/
.sub_wrap{padding:80px 0 0 0;}
.sub_title_wrap{padding:50px 0 30px 0;}
.sub_title{font-size:30px; height:72px; line-height:70px;}
.sub_title_logo{width:130px;}

.sub_title_common_wrap{padding:50px 0 30px 0;}
.sub_title_common{font-size:30px;}

.caption_sub{font-size:28px; padding:0 0 25px 0;}
.caption_sub_line{font-size:28px; margin-bottom:30px;}

.caption_sub_img{font-size:28px; padding:0 0 25px 0;}
.caption_sub_img img{width:35px;}

.caption_left_common{font-size:22px;}	
.caption_left_common span{display:block;}
.caption_left_common_span{font-size:22px;}
}
@media all and (min-width:1024px){
.sub_wrap{padding:90px 0 0 0;}

/** 서브 랩 공통 **/
.sub_title_wrap{padding:60px 0 30px 0;}
.sub_title{font-size:32px; padding:0 30px; height:78px; line-height:76px;}
.sub_title:after{width:64px; margin-left:-32px;}
.sub_title_logo{width:136px; margin:0 3px 0 5px;}

.sub_title_common_wrap{padding:60px 0 30px 0;}
.sub_title_common{font-size:32px; padding:0 0 30px 0; margin:0 0 30px 0;}

.caption_sub{font-size:29px; padding:0 0 30px 0;}
.caption_sub_line{font-size:29px; margin-bottom:35px;}
.caption_sub_text{font-size:16px;}

.caption_sub_img{font-size:29px; padding:0 0 30px 0;}
.caption_sub_img img{width:36px;}
    
.caption_left_common{font-size:24px;}
.caption_left_common_span{font-size:24px;}	    
}
@media all and (min-width:1280px){
/** 서브 랩 공통 **/
.sub_title_wrap{padding:90px 0 50px 0;}
.sub_visual_text_wrap{width:1080px;}
.sub_title{font-size:37px; padding:0 35px; height:84px; line-height:82px;}

.sub_title_common{font-size:37px;}

.caption_sub{font-size:33px; padding:0 0 40px 0;}
.caption_sub_line{font-size:33px; margin-bottom:40px;}

.caption_sub_img{font-size:33px; padding:0 0 40px 0;}
.caption_sub_img img{width:40px; margin:0 14px 0 0; vertical-align:-5px;}
}

/** 1:1 문의 라이트 박스 **/
.mantoman_write_wrap{height:100%; overflow:auto; padding:30px 0;}
.mantoman_write_area{padding:0 3.5%; margin:0 auto;}
.caption_underline{width:210px; margin:0 auto 20px auto; font-weight:500; padding:0 0 10px 0; border-bottom:1px solid #333; font-size:22px; text-align:center; font-family:'Jua', sans-serif;}
.mantoman_write_list{margin:0 0 15px 0;}
.mantoman_write_list li{line-height:1.4; position:relative; padding:0 0 5px 15px;}
.mantoman_write_list li:before{content:''; position:absolute; width:4px; height:4px; background-color:#ff903b; left:4px; top:8px; border-radius:50%;}
.mantoman_write_table{width:100%; border-collapse:separate; border-spacing:3px;}
.mantoman_write_table th{background-color:#f7f7f7; font-weight:400; width:90px; height:40px;}
.mantoman_write_table td{border:1px solid #eee;}
.mantoman_select{width:100%; height:40px; border:0; background-color:#fff;}
.mantoman_input{width:100%; height:40px; border:0;}
.mantoman_textarea{width:100%; height:120px; border:0; padding:10px;}
.mantoman_file{margin:0 0 0 10px; width:(100% - 10px);}

.button_orange_white.mantoman{height:44px; line-height:44px; width:49%;}
.button_br_black.mantoman{height:44px; line-height:44px; width:49%; font-weight:500; font-size:18px;}
@media all and (min-width:480px){

}
@media all and (min-width:640px){
.mantoman_area{padding:0 0 35px 0;}	
.mantoman_btn_area .button_whtie_border_arrow{width:220px;}	
	
.mantoman_first .caption{width:75%;}
.mantoman_first .status{width:25%;}	
.mantoman_icon{width:11%; padding:0 15px 0 0;}
.mantoman_icon .icon{vertical-align:-7px;}
.mantoman_a .mantoman_icon{padding:2px 15px 0 0;}
.mantoman_question{width:64%;}
.mantoman_status{width:25%;}
.mantoman_answer{width:89%; padding:12px 20px 12px 0;}
}
@media all and (min-width:768px){
.mantoman_area{padding:0 0 40px 0; width:720px;}
.mantoman_write_wrap{padding:35px 0;}
.mantoman_write_area{padding:0; width:520px;}	
.caption_underline{width:230px; margin:0 auto 25px auto; padding:0 0 12px 0; font-size:24px;}	
.mantoman_write_list{margin:0 0 20px 0;}
.mantoman_write_table th{width:110px;}
	
.mantoman_first .caption{width:62%;}
.mantoman_first .date{width:19%; display:block;}
.mantoman_first .status{width:19%;}

.mantoman_icon{width:10%; padding:0 20px 0 0;}
.mantoman_icon .icon{width:26px; vertical-align:-7px;}
.mantoman_a .mantoman_icon{padding:10px 20px 0 0;}
.mantoman_question{width:52%;}
.mantoman_date{width:19%; display:block;}
.mantoman_status{width:19%;}
.mantoman_answer{width:90%; padding:20px 30px 20px 0;}

}
@media all and (min-width:1024px){
.mantoman_area{padding:0 0 50px 0; width:960px;}	
	
.mantoman_write_wrap{padding:40px 0;}	
.mantoman_write_area{width:550px;}	
.caption_underline{width:250px; margin:0 auto 30px auto; font-size:25px;}	
.mantoman_write_list{margin:0 0 25px 0;}
.mantoman_write_table th{width:120px;}	
	
.mantoman_list li{text-align:center; font-size:14px;}
.mantoman_icon{width:9%;}
.mantoman_question{width:53%;}
.mantoman_answer{width:91%;}
}
@media all and (min-width:1280px){
.mantoman_write_wrap{padding:50px 0;}		
.mantoman_write_area{width:580px;}	
.caption_underline{width:260px; margin:0 auto 40px auto; font-size:26px;}	
.mantoman_write_table th{width:140px;}		
	
.mantoman_area{padding:0 0 70px 0; width:1000px;}
.mantoman_icon{width:9%;}
}

/** 라이트 박스 **/
.light_box_wrap, .light_box_wrap_youtube{background-color:rgba(0,0,0,0.8); position:fixed; left:0; top:0; right:0; bottom:0; z-index:99999; display:none;}
.light_box_area{position:absolute; left:3%; top:40px; right:3%; bottom:3%; background-color:#fff;}
.light_box_box{height:100%;}
.light_box_close{position:absolute; right:10px; top:-30px; width:20px;}

.light_box_iframe{width:100%; border:0; position:relative; height:100%;}
@media all and (min-width:640px){
.light_box_area{left:5%; top:50px; right:5%; bottom:5%;}
}
@media all and (min-width:768px){
.light_box_area{left:7%; top:7%; right:7%; bottom:7%;}
.light_box_close{top:-40px; width:30px;}
}
@media all and (min-width:1024px){
.light_box_area{left:10%; top:10%; right:10%; bottom:10%;}
.light_box_close{top:-40px; width:30px;}
}
@media all and (min-width:1280px){
.light_box_area{width:1030px; left:50%; right:auto; transform:translateX(-50%);}
}
