input[type=search], input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], select, textarea {
    background: #f5f5f5;
    border: 1px solid #ddd;
    color: #009EFF;
    font-weight: 500;
	font-size: 0.96rem;
    letter-spacing: .65px;
    width: 100%;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
    line-height: 16px;
    padding: 6px 5px;
	vertical-align:middle;
}
input[type=checkbox] {
	margin:3px;
    width:18px;
    height: 18px;
	border-radius:3px;
	vertical-align:middle;
}

select {
    background-image: url(../img/arrowBottom.svg);
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: right 10px center;
}
/*admin_head*/
.ad_header        {position:fixed; width: 100%;min-width:1270px;height: 64px;background:#00243E; border-bottom: 1px solid #ddd;z-index: 9;color: #fff;}
.ad_logo          {position:absolute;top:0;left:0; width: 150px; padding:15px 20px; font-size:1.4em;}
.ad_logo img      {width: 100%;}
.ad_menu          {width:100%;float:left;padding-left:200px;box-sizing: border-box;}
.ad_menu li       {float:left;width: 120px;height: 64px;line-height:64px;text-align:center;}
.ad_menu li a     {width: 100%;height: 66px;color:#fff;font-size:15px;text-align:center;}
.ad_menu li a:hover, .ad_menu li a.checked{	color:#009EFF;border-bottom:3px solid #009EFF;box-sizing:border-box;font-size: 1.1em;}


/*admin_body*/
.adminRightWrap .cosWrap{margin: 0;padding: 0 20px;}
.adminRightWrap .cosWrap{margin: 0;padding: 0 20px;}
.adminRightWrap{position: relative; top:110px;left:0; width:100%; padding-left: 200px; margin: 0; box-sizing: border-box;}
.admin_wrap    {max-width: 1200px;min-height: calc(100vh - 65px);padding: 20px;}
.adminSiteMap  {
	position:fixed; 
	z-index:996;
	left:210px; 
	top:65px; 
	width:100%; 
	background:#ffffff; 
	font-size: 1rem;
	line-height: 1;
	border-bottom: 1px solid #d6d3d3;height: 30px; 
	padding-top: 20px; 
	margin-bottom: 10px;
	font-weight: 500;
}

.adminSiteMap .icon-arrowright{font-size: 0.8em;}
.adminContent  {}

.adminBdT      {text-align:center;}
.adBodyinput   {text-align:right;margin-bottom: 10px;}
.adBodyinput select {width:100px;vertical-align: middle;margin: 0 3px;}
.adBodyinput .ad_btn, .orderSear input[type=date] {vertical-align:middle; margin: 0 0px 0 5px; }

.adminTitle {
    font-size: 1rem;
    font-weight: normal;
}
.adminTitle > span {line-height: 30px;}
.okImg img{width: 20px;height:;display: inline-block;vertical-align: middle;}

/*admin_left*/
.adminLeftWrap        {border-right: 1px solid #ddd; z-index:100; 
					   position:fixed; left:0; top:65px; height:calc(100% - 65px); background:#fbfbfb; overflow-y:scroll;
					   padding:0;width: 200px;box-sizing: border-box;}

#sidetreecontrol      {border-top:1px solid #d6d3d3;border-bottom:1px solid #d6d3d3; text-align:center;font-size:12px;color:#5c5c5c;padding: 15px;}

.admin_menu > ul      {}
.admin_menu > li      {border-bottom:1px solid #d6d3d3;text-align:left;font-size:12px;color:#5c5c5c;background: #f5f5f7;}
.admin_menu > li a    {width: 100%;padding: 15px 0; padding-left:30px;box-sizing: border-box;}
.admin_menu > li img  {width: 8px;vertical-align:middle;margin:12px 7px;}

.small_menu > li      {border-top:1px solid #d6d3d3;text-align:center; font-size:12px;color:#5c5c5c;background: #fff;}
.small_menu > li a    {width: 100%;padding: 15px 0;}


	
.adleftinW            {padding:9px 0;text-align: center;height:50px;box-sizing: border-box;}
.adleftinW .ad_btn, .orderSear input[type=date] {padding:5px 6px 5px;}

/*admin_content*/
.contentTitle{overflow: hidden;padding:10px 0;box-sizing: border-box;font-weight: normal;}
.contentTitle span{line-height: 30px;}



.admin_Tb         {width:100%; }
.admin_Tb.bottom  {border-bottom:1px solid #d6d3d3;margin-bottom:10px;}
.admin_Tb.list    {text-align: center;border-bottom:1px solid #d6d3d3;margin-bottom:10px;}
.admin_Tb th,.admin_Tb td  {border-top:1px solid #d6d3d3;padding:10px 20px;}
.admin_Tb th         {font-weight: bold;}
.admin_Tb td         {height: 34px;}
.admin_Tb img{max-width: 100%;width: 100%;}
.admin_Tb textarea{display: block;}
.admin_Tb td.line {
    height: 1px;
    background: #d6d3d3;
    padding: 0;
}
.ad_btn,.admin_btn{font-size: 12px; border: 1px solid #d6d3d3; background:#F2F2F2; margin:2px;
                   padding:5px 10px; text-align:center; height: 32px;box-sizing: border-box;font-weight: normal;}

.dark_blue { background:#00243E; color:#fff;}
.dark_red  { background:#ff0000; color:#fff;}


.admin_exbtn{font-size: 12px;border: 1px solid #d6d3d3;background:#0061A8; color:#fff; margin:3px; padding: 4px 10px; height: 30px;box-sizing: border-box;font-weight: normal; vertical-align:middle;}

.admin_shbtn{font-size: 12px;border: 1px solid #00243E;background:#00243E; color:#fff; margin:3px; padding: 4px 10px; height: 30px;box-sizing: border-box;font-weight: normal; vertical-align:middle;}


.ad_btnSet{margin-bottom: 10px;text-align:center;}

/*관리자 테이블*/
.admin_table            {width:100%; border-bottom:1px solid #d6d3d3;margin-bottom:10px;}
.admin_table td.empty   {font-size: 1.1em;text-align: center; padding: 10px;}
.admin_table th,.admin_table td  {border-top:1px solid #d6d3d3;padding:10px 10px;}
.admin_table th         {font-weight: bold;font-size: 0.96rem;text-transform: capitalize;}
.admin_table td         {height: 34px; text-align:center;}
.admin_table td.line    {height: 1px;background: #d6d3d3;padding: 0;}
.admin_table th.backth  {background:#f5f5f7;border-top:none;}

/* table 안에 table */
.admin_subtable        {width:100%; border-bottom:1px solid #d6d3d3;}
.admin_subtable:last-child { border-bottom:0px; }
.admin_subtable th     {font-weight:bold; border:0px;font-size: 0.96rem; background:#F5F5F5;border-top:none;}
.admin_subtable td     {height:30px; text-align:center; border:0px;}

/* table 안에 table */
.admin_subtable2        {width:100%; border:0px; margin:0px 0px 0px 10px;}
.admin_subtable2 th     {font-weight:bold; border:0px solid #fff;font-size: 0.96rem; padding:10px 10px;}
.admin_subtable2 td     {padding:10px; text-align:center; border:0px solid #fff;}


/*어드민 관리자 테이블 수정 170501*/
.admin_distable.bdB        {border-bottom:1px solid #d6d3d3;}
.admin_distable            {width:100%;}
.admin_distable td.empty   {font-size: 1.1em;text-align: center;padding: 5px;}
.admin_distable th,.admin_distable td  {border-top:1px solid #d6d3d3;padding:5px 5px;}
.admin_distable th         {font-weight: bold;font-size: 0.96rem;text-transform: capitalize; background:#f5f5f5;}
.admin_distable td         {height: 34px;}
.admin_distable td.line    {height: 1px;background: #d6d3d3;padding: 0;}
.admin_distable th.backth  {background:#f5f5f7;border-top:none;}
.admin_distable th.btline, td.btline  {height: 1px;border-bottom:1px solid #d6d3d3;}

/*어드민 관리자 테이블 수정 170501*/
.admin_inputbox.bdB        {border-bottom:1px solid #d6d3d3;}
.admin_inputbox            {width:100%;}
.admin_inputbox td.empty   {font-size: 1.1em;text-align: center;padding: 20px;}
.admin_inputbox th,.admin_inputbox td  {border-top:1px solid #d6d3d3;padding:10px 20px;}
.admin_inputbox th         {font-weight: bold;font-size: 0.96rem;text-transform: capitalize; background:#f5f5f5;}
.admin_inputbox td         {height: 34px;}
.admin_inputbox td.line    {height: 1px;background: #d6d3d3;padding: 0;}
.admin_inputbox th.backth  {background:#f5f5f7;border-top:none;}

.addplus_but {width:40px; height:40px; line-height:40px; text-align:center; background:#646464; color:#ffffff; border-radius:20px;}

/*admin_news.html 숨겼다가 보이게*/
#addImg,#addVideo,#imgTextSet,#videoTextSet,#subTitle,#btypeSet,#btypeGal1,#btypeGal2,#btypeImgAdd{display: none;}

.sizeCheck label        {margin: 5px 0px 5px 10px;display: inline-block;}

/*넘버박스*/
.ad_numberBox                {position:relative; text-align: center;}
.ad_numberBox > a            {font-size: 11px;}
.ad_numberBox > span, .ad_numberBox ul,.ad_numberBox ul li{display: inline-block;line-height: 32px;}
.ad_numberBox ul li a        {margin: 0 5px;}
.ad_numberBox ul li .active  {font-size: 1.1em;font-weight: bold;}
.ad_numberBtnWrap1           {position: absolute;top:0;left:0;}
.ad_numberBtnWrap2           {position: absolute;top:0;right:0;}


/*뉴스 글쓰기, 글수정*/
.ad_newsWrite       {}
.ad_btn_wrap        {text-align: center; margin: 10px auto;}
.ad_btn_wrap .ad_btn{margin: 3px;}

/* 결제요청버튼 */
.ad_btn_wrap .payreq_btn {
    width:200px;
	height: 40px;
	line-height:42px;
    font-size: 13px;
	border: 1px solid #d6d3d3;
	background: #00243E;
	color:#ffffff;
	margin:10px; 
	font-weight: normal;
}


/*차트 종합 데이터 보기*/
.fullDataBox{text-align: center;}
.fullClick  {display:block;cursor: pointer;text-align: center;font-weight: bold;}
.fullTable   {width: 100%;margin-top: 10px;border-bottom: 1px solid #d6d3d3;}
.fullTable th{padding: 2px 10px;background: #fcfcfc;}
.fullTable td{padding: 0px 10px;height: auto;}
.fullTable tr:nth-child(even){background: #fcfcfc;}
.fullTable tr:nth-child(odd){background: #fff;}

/* 리테일 매장에서 주문 상품전달 벨버튼 */

.retail_bell1 {padding:0px 4px; background:#2DB0FF; color:#fff;}
.retail_bell2 {padding:0px 4px; background:#808000; color:#fff;}
.retail_bell3 {padding:0px 4px; background:#512771; color:#fff;}
.retail_bell4 {padding:0px 4px; background:#408080; color:#fff;}
.retail_bell5 {padding:0px 4px; background:#d80000; color:#fff;}

/* 로딩바띄우기(화면 전체를 어둡게 합니다.)*/ 
.dark_bg{

    width:100%;
    height:100%;
    position:fixed;
    z-index:998;

	background-color:#4f4f4f;
	opacity:0.5;
	filter:alpha(opacity=50);
	-moz-opacity:.5

}
.wrap-loading { 
    z-index:999;
    position: fixed; 
    width:100%;
    height:100%;
    left:0; 
    right:0; 
    top:0; 
    bottom:0; 
    background: rgba(255,255,255,0.2); /*not in ie */ 
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#e1e1e1', endColorstr='#f3f3f3');    /* ie */ 
} 
/*로딩 이미지*/ 
.wrap-loading div{ 
    position: fixed; 
    top:50%; 
    left:50%; 
    margin-left: -50px; 
    margin-top: -50px; 
    z-index:999999;
} 
/*감추기*/ 
.display-none{ 
    display:none; 
} 

/** KCP 결제시 로딩바... **/
.pre_load_wrap {
    z-index:999;
    position: fixed; 
    width:100%;
    height:100%;
    left:0; 
    right:0; 
    top:0; 
    bottom:0; 
	background-color:#4f4f4f;
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-opacity:.8
}
.pre_load_wrap  div {
    width:449px;
    height:209px;
    top:50%; 
    left:50%; 
    margin-top:-104px;
    margin-left:-224px;
    position:fixed;
    z-index:999999;
}
.pre_load_wrap .processwork {
	display:block;
    width:0px;
    height:0px;
    position:relative;
}


/* 이전글 다음글 */
.list_box {clear:both; margin:25px 0;}
.list_box li{padding:10px 0; font-size:14px; line-height:33px; border-top:1px solid #e2e2e2; border-bottom:1px solid #e2e2e2; cursor:pointer;} 
.list_box li a{color:#888;}
.list_box li a:hover{color:#000000;}
.list_box li:first-child{background:url(../img/admin/btn_prev.png) no-repeat 62px 24px; border-bottom:0 none;}
.list_box li:first-child + li{background:url(../img/admin/btn_next.png) no-repeat 62px 24px;}
.list_box li strong{margin-right:30px; padding:0 25px; color:#333;}
.list_box li span{display:inline-block; width:100px;}

/*넘버박스*/
.ad_numberBox                {position:relative; text-align: center;margin-bottom: 10px;}
.ad_numberBox > span         {font-size: 11px;}
.ad_numberBox > span, .ad_numberBox ul,.ad_numberBox ul li{display: inline-block;line-height: 32px;}
.ad_numberBox ul li a        {margin: 0 5px;}
.ad_numberBox ul li .active  {font-size: 1.1em;font-weight: bold;}
.ad_numberBtnWrap{position: absolute;top:0;right:0;}


/*인풋박스*/
.inputBox          {vertical-align: middle;}
.inputBox .iTh     {
    width: 90px;
    display: inline-block;
    line-height: 30px;
}
.inputBox input    {margin: 2px;}
.inputBox input[type=tel]  {width: 50px;}
.inputBox input[type=text],.inputBox input[type=email],
.inputBox input[type=password],.inputBox input[type=number]  {width: 150px;}
.inputBox input.long       {width: 480px;}

/* 결제현황 TAB MENU */
.adminTabMenu {
    position:relative; 
	text-align: center;
	margin-bottom: 10px;
    width:100px;
	height:35px;
	line-height:35px;
	border:1px solid #ccc;
}
/* 이용약관 TAB MENU */
.adminPmTabMenu {
    position:relative; 
	text-align: center;
	margin-right: 10px;
    width:210px;
	height:35px;
	line-height:35px;
	border:1px solid #ccc;
}

.tabactive1 {
	background:#009EFF;
	color:#ffffff;
}
.tabactive2 {
	background:#fe0127;
	color:#ffffff;
}
.tabactive3 {
	background:#008080;
	color:#ffffff;
}
.tabactive4 {
	background:#0000ff;
	color:#ffffff;
}
.tabactive5 {
	background:#00004D;
	color:#ffffff;
}

.tabactive7 {
	background:#d80000;
	color:#ffffff;
}


/* 왼쪽메뉴에서 취소요청 카운터 표시 */
.cancle_cntdis {
    margin-left:5px;
	display: inline-block; 
    width:20px;
	height:20px;
	font-size:10px;
	line-height:20px;
	text-align:center;
	vertical-align:middle;
	background:#ff0000;
	color:#ffffff;
    border:1px solid #ff0000;
	border-radius:50%;
}
.list_discnt {
    margin-left:5px;
	display: inline-block; 
    width:20px;
	height:20px;
	font-size:10px;
	line-height:20px;
	text-align:center;
	vertical-align:middle;
	background:#ffffff;
	color:#009EFF;
    border:1px solid #ffffff;
	border-radius:50%;
}

/* 결제현황에서 탭메뉴별 카운터 표시 */
.list_cntdis1 {
    margin-left:3px;
	display: inline-block; 
    width:24px;
	height:24px;
	font-size:10px;
	line-height:22px;
	text-align:center;
	vertical-align:middle;
	background:#009EFF;
	color:#ffffff;
    border:1px solid #009EFF;
	border-radius:50%;
}
.list_on1 {
	background:#E7E7E7;
	color:#0065a2;
    border:1px solid #009EFF;
}
.list_cntdis2 {
    margin-left:3px;
	display: inline-block; 
    width:24px;
	height:24px;
	font-size:10px;
	line-height:22px;
	text-align:center;
	vertical-align:middle;
	background:#fe0127;
	color:#ffffff;
    border:1px solid #fe0127;
	border-radius:50%;
}
.list_on2 {
	background:#E7E7E7;
	color:#0065a2;
    border:1px solid #fe0127;
}
.list_cntdis3 {
    margin-left:3px;
	display: inline-block; 
    width:24px;
	height:24px;
	font-size:10px;
	line-height:22px;
	text-align:center;
	vertical-align:middle;
	background:#008080;
	color:#ffffff;
    border:1px solid #008080;
	border-radius:50%;
}
.list_on3 {
	background:#E7E7E7;
	color:#0065a2;
    border:1px solid #008080;
}
.list_cntdis4 {
    margin-left:3px;
	display: inline-block; 
    width:24px;
	height:24px;
	font-size:10px;
	line-height:22px;
	text-align:center;
	vertical-align:middle;
	background:#0000ff;
	color:#ffffff;
    border:1px solid #0000ff;
	border-radius:50%;
}
.list_on4 {
	background:#E7E7E7;
	color:#0065a2;
    border:1px solid #0000ff;
}
.list_cntdis5 {
    margin-left:3px;
	display: inline-block; 
    width:24px;
	height:24px;
	font-size:10px;
	line-height:22px;
	text-align:center;
	vertical-align:middle;
	background:#00004D;
	color:#ffffff;
    border:1px solid #00004D;
	border-radius:50%;
}
.list_on5 {
	background:#E7E7E7;
	color:#0065a2;
    border:1px solid #00004D;
}


.list_cntdis7 {
    margin-left:3px;
	display: inline-block; 
    width:24px;
	height:24px;
	font-size:10px;
	line-height:22px;
	text-align:center;
	vertical-align:middle;
	background:#d80000;
	color:#ffffff;
    border:1px solid #d80000;
	border-radius:50%;
}
.list_on7 {
	background:#E7E7E7;
	color:#0065a2;
    border:1px solid #d80000;
}

/* 약관관리창 */
.ad_newsWrite > .MobilComment_Box {
    margin-top:30px;
    width:400px;
	height:550px;
    border:15px solid #000000;
    border-top:40px solid #000000;
    border-bottom:40px solid #000000;
	border-radius:6%;
	text-align:center;
}
/* 약관코멘트 넣기창 */
.PmComment {
    width:400px;
	height:550px;
    border:0px solid #fff;
	border-radius:6%;
    background: #f5f5f7;
    border-radius: 3px;
    -webkit-appearance: none;
    box-sizing: border-box;
	line-height:1.5;
    font-weight: 500;
	font-size: 0.96rem;
    letter-spacing: .65px;
	color:#000;
}

/* 약관저장버튼박스 */
.MobilComment_butbox {
    width:400px;
    margin-top:20px;
    margin-bottom:100px;
	text-align:center;
}

/***** search form *****/
#search-form {
	padding:45px 10px 0 0;
	position:relative; 
	float:right;
	width:300px;
}
#search-form fieldset {
	position:relative; 
	width:100%; 
	display:block; 
}
#search-form .search-field {
	float:right;
	width:300px;
	height:34px;
	background:url(../images/search-bg.jpg) 0 0 no-repeat; 
}
#search-form input {
	width:245px; 
	font-size:14px;
	line-height:1.25em;
	padding:9px 15px 9px; 
	font-family:Arial, Helvetica, sans-serif; 
	color:#646458;
	background:none;
	border:none;
	margin:0;
	outline:none;
	ime-mode:active;
}
#search-form .search-button {
	display:block; 
	width:20px;
	height:21px;
	text-indent:-5000px;
	background:url(../images/search-icon.png) left top no-repeat;
	position:absolute;
	right:7px;
	top:7px;
}
/********************/
/***** 자동완성 *****/
/********************/
#loader{
	position: absolute;
	top: 14%;
	right: 5%;
	z-index: 3;
}

#search_suggestion_holder{
	list-style: none;
	display:none;
	border-bottom: 1px #f8f8f8;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #f8f8f8;
	border-style: solid;
	border-top: none;
}

#search_suggestion_holder li:hover{
	background-color: #d4d4d4;
}
.selected{
	background-color: #FAFAFA !important;
}

#search_suggestion_holder li{
	cursor: pointer;
	display: block;
	background-color: #f0f0f0;
	color: #8c8c8c;
	margin-bottom: 0px;
	border-bottom: 1px solid #ddd;
	padding: 4px;
	text-shadow: 1px 1px 4px #fff;
	-webkit-text-shadow: 1px 1px 4px #fff;
	-moz-text-shadow: 1px 1px 4px #fff;
}
#loader{
	display:none;
}

/* 상품리스트 */
.goods-thumb img {width:100%; height:100%;}


.menuMapList {clear:both;}
.menuMapList ul {margin-left:-30px;}/** 0917 20->30 **/
.menuMapList li {float:left;padding-left:30px;width:25%;box-sizing:border-box;margin-top:20px;} /** 0917 20->30 **/
.menuMapList li .goods-thumb {width:100%;max-height:260px;overflow:hidden;background:#e8e8e8;position:relative;}
.menuMapList li .goods-name {padding:10px 0 0 0; height:80px;}
.menuMapList li .goods-name p + p {margin-top:2px;}
.menuMapList li .goods-name .nm {font-size:18px;}
.menuMapList li .goods-opt {border-left:solid 1px #ddd;border-right:solid 1px #ddd;}
.menuMapList li .goods-opt > a {display:block;color:#666;font-size:18px;padding:0 20px;position:relative;line-height:48px;}
.menuMapList li .goods-opt > a:after {content:"";width:22px;height:22px;background:url(images/icons.png) -40px -280px no-repeat;position:absolute;right:20px;top:50%;margin-top:-11px;}
.menuMapList li .goods-order-right {background:#444;}
.menuMapList li .goods-order-right > a {display:block;color:#fff;font-size:18px;padding:0 20px;position:relative;line-height:50px;}
.menuMapList li .goods-order-right > a:after {content:"";width:20px;height:24px;background:url(images/icons.png) -80px -280px no-repeat;position:absolute;right:20px;top:50%;margin-top:-12px;}
.menuMapList li .goods-block {position:relative;}
.menuMapList li .disabled-order {position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.6);text-align:center;color:#fff;font-size:20px;display:none;}
.menuMapList li.disabled .disabled-order {display:block;}
.menuMapList li .disabled-order > div {display:table;width:100%;height:100%;}
.menuMapList li .disabled-order > div .row {display:table-row;height:100%}
.menuMapList li .disabled-order > div .row p {display:table-cell;vertical-align:middle;}
.menuMapList li .disabled-order > div .row p:before {content:"";width:50px;height:50px;background:url(images/ico_x.png) -100px top no-repeat;display:block;margin:0 auto;margin-bottom:5px;}
.menuMapList li .goods-opt-selectbox {position:absolute;left:0;bottom:0;width:100%;background:rgba(0,0,0,0.6);}
.menuMapList li .goods-opt-selectbox > a {float:left;text-align:center;width:50%;color:#fff;line-height:50px;box-sizing:border-box;color:#fff;}
.menuMapList li .goods-opt-selectbox > a:first-child {border-right:solid 1px rgba(255,255,255,0.3);}
.menuMapList li .goods-opt-selectbox > a:before {content:"";display:inline-block;width:23px;height:20px;background:url(images/ico_opt.png) no-repeat;margin-right:8px;vertical-align:-3px;}
.menuMapList li .goods-opt-selectbox > a.btn-opt:before {background-image:url(images/ico_opt.png);}
.menuMapList li .goods-opt-selectbox > a.btn-cart:before {background-image:url(images/ico_cart.png);}
.menuMapList li .goods-opt-selectbox > a.btn-zzim:before {background-image:url(images/ico_zzim2.png);}
.menuMapList li .goods-opt-selectbox > a.btn-zzim.on:before {background-position:-25px center;}
.menuMapList li .goods-opt-selectbox > a.full {width:100%;border:0;}
.menuMapList li .goods-opt-selectbox {display:none;}
.menuMapList li .goods-opt-selectbox {display:none;}
.menuMapList li .goods-icon {z-index:1;}

.menuMapList li .goods-block .goods-icon {position:absolute;left:0;top:0;}
.menuMapList li .goods-block .goods-hover {position:absolute;left:0;top:0;width:100%;height:265px;background:rgba(0,0,0,0.5);display:none;}
.menuMapList li .goods-block .goods-hover > div {padding:72px 15px;text-align:center;}
.menuMapList li .goods-block .goods-hover > div a {display:block;line-height:60px;color:#fff;font-size:20px;position:relative;z-index:1;}
.menuMapList li .goods-block .goods-hover > div a + a {border-top:solid 1px rgba(255,255,255,0.5);}
.menuMapList li .goods-block .goods-hover > div a:before {content:"";width:30px;height:25px;background:url(images/ico_br.png) left top no-repeat;display:inline-block;margin-right:6px;vertical-align:middle;}
.menuMapList li .goods-block .goods-hover > div a.opt02:before {background-position:-30px top;}

.menuMapList li .goods-block .goods-detail-view {position:absolute;left:0;top:0;width:100%;height:100%;text-indent:-999em;overflow:hidden;}
.menuMapList .cart-cal {width:100%;border-top:0;border-bottom:0;display:block;box-sizing:border-box;height:48px;}
.menuMapList .cart-cal.large input {width:170px;}
.menuMapList .cart-cal.large .plus {float:right;}
.menuMapList .cart-cal.large .left {float:left;}

/* 리테일/배달업 주문리스트 */
.orderlist_wrap{padding:10px; width:100%; height:450px;  margin:0 auto;}
.orderpay_wrap{overflow:hidden; font-size:13px; line-height:1.5;}
.orderpay_wrap .pay_content{float:left; width:320px; margin:0 1% 1% 0; background-color:#fff; border:1px solid #ccc; border-radius:8px; padding:12px;}
.number_wrap{background-color:#507eeb; color:#fff; height:24px; line-height:23px; padding:0 5px; margin:2px -5px 2px -5px; position:relative;}
.state{position:absolute; right:10px;}

.pay_detail_wrap{overflow:hidden; margin:0 0 8px 0;}
.pay_detail_wrap2{overflow:hidden; margin:0;}
.pay_detail_left{float:left; width:68%;}
.pay_detail_left b{color:#507eeb; font-weight:500;}
.pay_color{color:#333;}
.pay_detail_center{text-align:center; padding:10px 0 0 0;}
.pay_detail_right{float:right; width:30%; padding:2px;}
.pay_btn{display:inline-block; margin:2px; width:84px; height:22px; line-height:22px; border:1px solid #507eeb; text-align:center; background-color:#fff; color:#507eeb; border-radius:6px; letter-spacing:-0.5px;}

.pay_list_wrap{height:250px; overflow:auto;}
.pay_table{border-spacing:0; margin:1px 0 0 0; width:100%;}
.pay_table th{width:70px; height:52px; background-repeat:no-repeat; background-position:center; background-size:cover;}
.pay_table td{background-color:#f3f3f3; padding:0 0 0 10px; font-size:12px;}
.pay_table h4{font-weight:500; font-size:12px; margin:0 0 4px 0;}
.circle {display:inline-block; width:20px; height:20px; line-height:19px; border-radius:50%; text-align:center; color:#fff; background-color:#5785f0; font-size:12px; margin:0 5px 0 0; font-weight:500;}
.circle2{display:inline-block; width:20px; height:20px; line-height:19px; border-radius:50%; text-align:center; color:#fff; background-color:#9B9B00; font-size:12px; margin:0 5px 0 0; font-weight:500;}
.price_2{font-size:13px;}
.circle3{display:inline-block; width:20px; height:20px; line-height:19px; border-radius:50%; text-align:center; color:#fff; background-color:#006666; font-size:12px; margin:0 5px 0 0; font-weight:500;}
.subradius{display:inline-block; padding:3px; line-height:19px; border-radius:10px; text-align:center; color:#fff; background-color:#006666; font-size:12px; margin:0 5px 0 0; font-weight:500;}

