@charset "utf-8";

/*헤더*/
.selfHeader {position: fixed; top: 0; left: 0; text-align:center; font-size:1.5em; line-height:2.5em;
             z-index: 500; width: 100%; background:#000057; color:#fff; height:50px; padding:10px 0px 10px 0px;}
/*payinfo table*/
.pay_table    {width: 100%; margin-top:0px;}
.pay_table th {padding:7px; font-size:1.1em; font-weight:400; border-bottom:1px solid #ddd;}
.pay_table td {padding:7px; font-size:1.1em; border-bottom:1px solid #ddd; }
.pay_table td > input[type=text] {
    color: #009DFE;
    border-radius:5px;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
/*order table*/
.order_table    {width: 100%; margin-top:0px;}
.order_table th {padding:5px; font-size:1.0em; background:#A0A050; border-right: 1px solid #fff; color:#fff; text-align:center; font-weight:400; border-bottom:1px solid #ddd;}
.order_table td {padding:5px; font-size:1.0em; background:#E9E9E9; border-right: 1px solid #fff; text-align:center; border-bottom:1px solid #ddd;}
.order_table td > input[type=text] {
    background: #fafafa;
    border: 1px solid #efefef;
    color: #A0A050;
	text-align:center;
    font-size: 1.1em;
    line-height: 120%;
    padding: 6px 5px;
    letter-spacing: .65px;
    width: 90%;
	height:40px;
    border-radius:5px;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* autocomplete */
.autocompletebox {
    background: #fafafa;
    border: 1px solid #efefef;
    color: #767676;
    font-size: 1.1em;
    line-height: 120%;
    padding: 6px 5px;
    letter-spacing: .65px;
    width: 90%;
	height:40px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    }


/* 버튼 */ 
.paysubmit_but {padding:3px 10px; border-radius:5px; font-size:1.0em; background:#000044; color:#fff;}
.payreset_but  {padding:3px 10px; border-radius:5px; font-size:1.0em; background:#808080; color:#fff;}

/* 로딩바띄우기(화면 전체를 어둡게 합니다.)*/ 
.dark_bg{

    width:100%;
    height:100%;
    position:fixed;
    z-index:+998;

	background-color:#4f4f4f;
	opacity:0.5;
	filter:alpha(opacity=80);
	-moz-opacity:.8

}
.wrap-loading { 
    z-index:999;
    position: fixed; 
    width:100%;
    height:100%;
    left:0; 
    right:0; 
    top:0; 
    bottom:0; 
    background: rgba(255,255,255,0.2); /*not in ie */ 
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#e1e1e1', endColorstr='#f3f3f3');    /* ie */ 
} 
/*로딩 이미지*/ 
.wrap-loading div{ 
    position: fixed; 
    top:50%; 
    left:50%; 
    margin-left: -108px; 
    margin-top: -108px; 
    z-index:+999;
} 
/*감추기*/ 
.display-none{ 
    display:none; 
} 

/** 결제시 로딩바... **/
.pre_load_wrap {
    left:50%;
    top:50%;
    width:100%;
    height:100%;
    position:fixed;
    z-index:999;
    display:none
}
.pre_load_wrap .processbar {
    width:449px;
    height:209px;
    margin-top:-104px;
    margin-left:-224px;
    position:fixed;
    z-index:998;
}
.pre_load_wrap .processwork {
	display:block;
    width:0px;
    height:0px;
    position:relative;
}


/* 자동완성형관련검색 */
.subheader {margin:0; padding:0;}
.subheader .search {left:10px; width:100%; height:40px; margin:0; padding:0; z-index:20;}
.subheader .search .SearchWord { width:90%; height:40px; background:#fff; color:#A0A050; font-size:1.1em; line-height:1.2em; border:1px solid #efefef; border-radius:5px; ime-mode:active;}

.subheader .stype_list {position:absolute; top:5px;left:5px;width:80px;height:82px;margin:0;padding:5px 0 0 3px;background-color:#ffffff;border:1px solid #5C8C0D;z-index:40;letter-spacing:-0.1em;}
.subheader .stype_list input{position:absolute;left:-20px;margin:0;padding:0;}
.subheader .stype_list li{width:80px;height:16px;margin:0;padding:0;list-style:none;line-height:16px;color:#cccccc;cursor:pointer;}
.subheader .stype_list li:hover{background:#E7F9C8;}
.subheader .stype_list li a{display:block;width:92px;height:16px;margin:0;padding:1px 0 0 9px;list-style:none;background:#fff url(http://learningbox.hihome.kr/lms/images/icon_bArrow5.gif) no-repeat 4px 3px;color:#5C8C0D;font-size:11px;letter-spacing:-0.05em;}
.subheader .stype_list li a:hover{width:92px;height:16px;background: #F0FCDC url(http://learningbox.hihome.kr/lms/images/icon_bArrow5.gif) no-repeat 4px 3px;text-decoration:none;}
.subheader .stype_list label {display:block;width:100%;height:15px;overflow:hidden;padding:0 0 0 3px;font-family:Dotum, "돋움",arial,sans-serif;color:#005B00;cursor:pointer;}
