@charset "utf-8";
/*
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
*/
@import url('https://fonts.googleapis.com/css?family=Arapey:400i');

html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, input {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size:inherit;
background: transparent;
color:inherit;
font-family: inherit;
box-sizing:content-box;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
        
}
*{margin:0; padding:0;}

body {
 position:relative;
 line-height: 1.5;
 color:#333; 
 letter-spacing:0px;
 font-family:'Nanum Barun Gothic', 'Noto Sans Korean', sans-serif;
/* 디스플레이 폰트 Cinzel 국문 폰트는 나눔바른고딕으로 스톤헨지에서 지정
 font-family: 'Cinzel', 'Nanum Barun Gothic', 'Noto Sans Korean', sans-serif;
5차 수정 디스플레이 폰트 time italic(font-family: font86794;), 'Arapey'
*/
 -webkit-text-size-adjust:none;
 word-break: keep-all;
}

ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
/* remember to define focus styles! */
:focus {
 outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
 text-decoration: none;
}
del {
 text-decoration: line-through;
}
table {
 border-collapse:collapse;
 border-spacing: 0;
}
a{display:inline-block; color:inherit; cursor:pointer;text-decoration:none;}
a:hover,i:hover{color:#c6c6c6;}
button{padding:0; border:none; cursor:pointer; color:inherit; font-family:inherit; background:none;} 
::selection {
    background: rgba(0, 0, 0,.3);
}

/*인풋*/
input[type=search], input[type=email], input[type=number], input[type=password], 
input[type=tel], input[type=text], input[type=url], select, textarea {
    background: #fafafa;
    border: 1px solid #efefef;
    color: #767676;
    font-size: 1.1em;
    line-height: 120%;
    padding: 6px 5px;
    letter-spacing: .65px;
    width: 90%;
	height:40px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
input[type=radio] {
    margin:3px;
    width:22px;
    height: 22px;
    vertical-align:middle;
}
input[type=checkbox] {
    margin:3px;
    width:18px;
    height: 18px;
    vertical-align:middle;
}

/*폰트*/
@media (max-width:767px){html{font-size:12px}}
@media (min-width:768px) and (max-width:1599px){html{font-size:14px}}
@media (min-width:1600px) and (max-width:2099px){html{font-size:14px}}
@media (min-width:2100px) and (max-width:2399px){html{font-size:16px}}
@media (min-width:2400px) and (max-width:2699px){html{font-size:16px}}
@media (min-width:2700px){html{font-size:16px}}

/**/
@media screen and (max-width: 767px) {/*휴대폰*/}
@media screen and (min-width: 768px) and (max-width: 959px) {/*태블릿*/}
@media screen and (min-width: 960px) {/*웹*/}




/*플레이스홀더 색깔*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #b2b2b2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #b2b2b2;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #b2b2b2;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #b2b2b2;
}
:placeholder-shown { /* Standard */
  color:    #b2b2b2;
}



/*기본 아이콘 폰트*/
@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?b3s3fp');
  src:  url('../font/icomoon.eot?b3s3fp#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?b3s3fp') format('truetype'),
    url('../font/icomoon.woff?b3s3fp') format('woff'),
    url('../font/icomoon.svg?b3s3fp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowBottom:before {
  content: "\e900";
}
.icon-arrowBottom2:before {
  content: "\e901";
}
.icon-arrowLeft:before {
  content: "\e902";
}
.icon-arrowLeft2:before {
  content: "\e903";
}
.icon-arrowRight:before {
  content: "\e904";
}
.icon-arrowRight2:before {
  content: "\e905";
}
.icon-arrowTop:before {
  content: "\e906";
}
.icon-arrowTop2:before {
  content: "\e907";
}
.icon-logo .path1:before {
  content: "\e908";
  color: rgb(0, 143, 87);
}
.icon-logo .path2:before {
  content: "\e909";
  margin-left: -1.9462890625em;
  color: rgb(0, 143, 87);
}
.icon-logo .path3:before {
  content: "\e90a";
  margin-left: -1.9462890625em;
  color: rgb(0, 143, 87);
}
.icon-logo .path4:before {
  content: "\e90b";
  margin-left: -1.9462890625em;
  color: rgb(0, 143, 87);
}
.icon-logo .path5:before {
  content: "\e90c";
  margin-left: -1.9462890625em;
  color: rgb(0, 143, 87);
}
.icon-logo .path6:before {
  content: "\e90d";
  margin-left: -1.9462890625em;
  color: rgb(255, 255, 255);
}
.icon-logo .path7:before {
  content: "\e90e";
  margin-left: -1.9462890625em;
  color: rgb(255, 255, 255);
}
.icon-logo .path8:before {
  content: "\e90f";
  margin-left: -1.9462890625em;
  color: rgb(255, 255, 255);
}
.icon-logo .path9:before {
  content: "\e910";
  margin-left: -1.9462890625em;
  color: rgb(255, 255, 255);
}
.icon-logo .path10:before {
  content: "\e911";
  margin-left: -1.9462890625em;
  color: rgb(35, 31, 32);
}
.icon-logo .path11:before {
  content: "\e912";
  margin-left: -1.9462890625em;
  color: rgb(217, 61, 78);
}
.icon-logoImg .path1:before {
  content: "\e913";
  color: rgb(0, 143, 87);
}
.icon-logoImg .path2:before {
  content: "\e914";
  margin-left: -1.7373046875em;
  color: rgb(0, 143, 87);
}
.icon-logoImg .path3:before {
  content: "\e915";
  margin-left: -1.7373046875em;
  color: rgb(0, 143, 87);
}
.icon-logoImg .path4:before {
  content: "\e916";
  margin-left: -1.7373046875em;
  color: rgb(0, 143, 87);
}
.icon-logoImg .path5:before {
  content: "\e917";
  margin-left: -1.7373046875em;
  color: rgb(0, 143, 87);
}
.icon-logoImg .path6:before {
  content: "\e918";
  margin-left: -1.7373046875em;
  color: rgb(255, 255, 255);
}
.icon-logoImg .path7:before {
  content: "\e919";
  margin-left: -1.7373046875em;
  color: rgb(255, 255, 255);
}
.icon-logoImg .path8:before {
  content: "\e91a";
  margin-left: -1.7373046875em;
  color: rgb(255, 255, 255);
}
.icon-logoImg .path9:before {
  content: "\e91b";
  margin-left: -1.7373046875em;
  color: rgb(255, 255, 255);
}
.icon-logoImg .path10:before {
  content: "\e91c";
  margin-left: -1.7373046875em;
  color: rgb(217, 61, 78);
}
.icon-logoText:before {
  content: "\e91d";
}
.icon-minus:before {
  content: "\e91e";
}
.icon-plus:before {
  content: "\e91f";
}
.icon-re:before {
  content: "\e920";
}
.icon-x:before {
  content: "\e921";
}

/*스톤헨지 아이콘 폰트*/
@font-face {
  font-family: 'st_icon';
  src:  url('../font/st_icon.eot?b3s3fp');
  src:  url('../font/st_icon.eot?b3s3fp#iefix') format('embedded-opentype'),
    url('../font/st_icon.ttf?b3s3fp') format('truetype'),
    url('../font/st_icon.woff?b3s3fp') format('woff'),
    url('../font/st_icon.svg?b3s3fp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.st_icon{font-family: 'st_icon' !important;}

.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-kakao:before {
  content: "\e902";
}
.icon-naver:before {
  content: "\e903";
}
.icon-share:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
