/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <ul><li><a href="#"><span>level 3</span></a></li></ul>
 *                  </li>
 *              </ul>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */

div#menu {position:absolute;right:15px; bottom:0}
div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
	
	background:#ccc;

}
div#menu ul.menu {
	 
}
div#menu ul.menu>li{}
div#menu ul.menu>li>a {
    position: relative;
    z-index: 10;
    height: 30px;
	
    display: block;
    float: left;
    line-height: 22px;


	font-weight:bold;
	color:#fff;
	 background:#546b83; margin:0 6px; border-radius:4px 4px 0 0;padding:0 20px;
}
div#menu ul.menu>li>a:hover{background:#445;padding:0 20px;}
div#menu ul.menu>li>a.active{background:#445;padding:0 20px;}
div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0
    display: block;
    float: left;
}
div#menu li:hover>ul {
    left: 0px;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 42px;
	
    display: block;
    float: left;
    line-height: 42px;
    text-decoration: none;

	font-weight:bold;
	color:#fff;
}
div#menu a:hover, div#menu a:hover span { color: #fff;}


div#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#menu ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(../images/item-pointer.gif);
}
div#menu ul ul a.parent:hover span {
    background-image: url(../images/item-pointer-mover.gif);
}

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 10px;
    line-height: 40px;
    color: #e5e5e5;
}
div#menu span {
    margin-top: 5px;
}/**@replace#1*/
div#menu li { background: url(../images/main-delimiter.png) 98% 4px no-repeat; }
div#menu li.last { background: none; padding-bottom:4px;}

/* menu::level2 */
div#menu ul ul li { background: none; border-bottom:1px solid #333;}
div#menu ul ul {
    position: absolute;
    top: 29px;
    left: -999em;
    width: 163px;
    padding: 5px 0 0 0;
    background: rgb(45,45,45);
    margin-top:1px;
}
div#menu ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 30px;
    color: rgb(169,169,169);
}
div#menu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color: rgb(169,169,169);
}
div#menu ul ul a:hover span {
    color: #fff;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;
    margin: -38px 0 0 163px !important;
    margin-left:172px;
}

/* colors */
div#menu ul ul ul { background: rgb(41,41,41); }
div#menu ul ul ul ul { background: rgb(38,38,38); }
div#menu ul ul ul ul { background: rgb(35,35,35); }

/* lava lamp */
div#menu li.back {
    background: url(../images/lava.png) no-repeat right -44px !important;
    background-image: url(../images/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu li.back .left {
    background: url(../images/lava.png) no-repeat top left !important;
    background-image: url(../images/lava.gif);
    height: 44px;
    margin-right: 8px;
}

