@charset "utf-8";

*{margin:0; padding:0;}
img{border:0;}
a{text-decoration:none;}
li{list-style:none;}
input, label{vertical-align:middle;}
label{margin:0 5px;}
input[type=text], input[type=password],select{height:22px; border:1px solid #ccc; color:#555; padding:0 0 0 4px;}
.noborder{border:none;}

body {font-family:"맑은 고딕", "나눔고딕", "돋움"; font-size:12px; color:#444; background:#ddd;}

/* 로그인 */
.login{background:#32394a;}
.logbox{width:450px; height:210px; background:#fff; border-radius:5px; position:absolute; top:50%; left:50%; margin-top:-180px; margin-left:-225px; padding-top:19px;}
.logbox > h1{text-align:center; margin-bottom:8px; font-size:32px;}
.logbox table{margin-left:50px;}
.logbox th{padding-right:10px; text-align:right; font-size:13px;}
.logbox input{height:28px; line-height:28px; width:190px; background:rgba(255,255,255,0.9);}
.logbox .btn_log{width:80px; background:#1d4088; text-align:center; height:64px; line-height:64px; font-size:18px; color:#fff;}

/* 헤더영역 */
#header{height:110px; background:#aaa;  position:relative;}
.header2{width:85%; margin:0 auto; height:64px; position:relative; min-width:1200px;}
.header2 > h1{position:absolute; top:12px; left:22px; color:#fff; font-size:32px;}
.header2 > ul.top_nav{position:absolute; top:15px; right:5px;}
.header2 > ul.top_nav > li{float:left; padding:0 3px;}
.header2 > ul.top_nav > li > a{color:#fff; display:inline-block; background:#003366; font-size:11px; padding:4px 10px;}
.header2 > ul.top_nav > li > a:hover{color:#ff0; background:#222;}
.header2 > ul.top_nav > li > a.active{ background:#222;}

/* 상단메뉴 영역 */
#nav{height:40px; background:#1f364e; border-radius:10px 10px 0 0; width:85%; margin:0 auto; bottom:0; border-bottom:6px solid #fff;  min-width:1200px; position:relative;}
#nav > h3{height:29px; width:40px; position:absolute; top:10px; left:20px;}

/* 메인 영역 좌측과 우측 영역 */
.main{width:85%; margin:0 auto; overflow:hidden; min-width:1200px; padding-top:10px; padding-bottom:50px;}
.left{width:210px; float:left; background:#fff; min-height:725px;border-radius:8px 0 0 0;}
.left_nav li:first-child{background:#546B83; border-radius:8px 0 0 0; padding:9px 12px; color:#fff; font-weight:bold; font-size:13px; height:20px;}

.left_nav li a{display:block; background:#98AABC; color:#fff; padding:8px 10px;}
.left_nav li a:hover{background: #788FA7;  padding-left:20px; font-weight:bold;}
.left_nav li a.active{background:#788FA7;  padding-left:20px; font-weight:bold;}

.right{float:right; margin-right:-220px;  background:#fff; width:100%; min-height:700px;  border-radius:5px 5px 0 0; padding-bottom:25px;}
.content{padding-right:220px;}
.content > h2{background:#546b83; color:#fff;  padding:7px 15px;}
.content > .box{padding:15px 20px;}

/* 리스트 테이블 */
.table1{border-top:1px solid #ddd; border-left:1px solid #ddd;}
.table1 th{background:#f8f8f8; color:#333; padding:8px 0; border-right:1px solid #ddd;  border-bottom:1px solid #ddd;}
.table1 td{padding:8px 0; border-right:1px solid #ddd;  border-bottom:1px solid #ddd; text-align:center;}
.table1 .subject{text-align:left; padding-left:25px;}
.table1 .subject a{color:#333;}
.table1 .subject a:hover{color:#1d4088;}

/* 읽기 테이블 */
.table2{border-top:1px solid #ddd; border-left:1px solid #ddd;}
.table2 th{background:#f8f8f8; color:#333; padding:8px 0; border-right:1px solid #ddd;  border-bottom:1px solid #ddd;}
.table2 td{padding:8px 0; border-right:1px solid #ddd;  border-bottom:1px solid #ddd; text-align:center;}
.table2 .subject{text-align:left; padding-left:25px;}

/* 폼 테이블 */
.table3{border-top:1px solid #ddd; border-left:1px solid #ddd;}
.table3 th{background:#f8f8f8; color:#333; padding:8px 0; border-right:1px solid #ddd;  border-bottom:1px solid #ddd;}
.table3 td{padding:8px 20px; border-right:1px solid #ddd;  border-bottom:1px solid #ddd; }


/* 리스트 번호 버튼 */
.number {margin:0 auto; padding-top:15px; text-align:center;}
.number li{display:inline-block; margin-left:5px; border:1px solid #ccc; text-align:center; background:#f4f4f4; font-weight:bold; min-width:14px; max-width:50px;padding:3px 6px;}
.number li > a{color:#444; display:block;   min-width:14px; text-align:center;}
.number li > a:hover{background:#aaa; color:#000; }
.number li.current{background:#aaa; color:#000; padding:3px 6px;}
.number li.disabled{color:#999; padding:3px 6px;}

/* 버튼 */
.button{float:right; margin-top:35px;}
.button a{display:inline-block; border:1px solid #ccc; text-align:center; background:#f4f4f4; padding:6px 10px; color:#444; font-weight:bold;}
.button a:hover{background:#aaa; color:#000;}

/* input 버튼 */
.btn_input{background:#336699; color:#ffe; border:1px #3a75af solid; height:24px; padding:0 8px;}
.btn_input:hover{background:#00366d; border:1px #00366d solid;}

#footer{text-align:center; background:#334; color:#fff; height:42px; line-height:42px; position:fixed; bottom:0; width:100%; z-index:1000;}