@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
#jquery-script-menu{position:fixed;width:100%;bottom:0;left:0;border-top:5px solid #316594;background:#fff;-moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.16);-webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,.16);box-shadow:0 2px 3px 0 rgba(0,0,0,.16);z-index:999999;padding:10px 0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.jquery-script-center{width:100%;}
.jquery-script-center ul{width:100%;float:left;line-height:45px;margin:0;padding:0;list-style:none}
.jquery-script-center a{text-decoration:none}
.jquery-script-ads{float:right}
.jquery-script-clear{clear:both;height:0}
#carbonads{display:block;overflow:hidden;position:relative;font-size:22px;box-sizing:content-box}
#carbonads>span{display:block}
#carbonads a{color:#4078c0;text-decoration:none}
#carbonads a:hover{color:#3664A3}
.carbon-wrap{display:flex;align-items:center}
.carbon-img{display:block;margin:0;line-height:1}
.carbon-img img{display:block;width:auto}
.carbon-text{display:block;padding:0 1em;line-height:1.35;text-align:left}
.carbon-poweredby{display:block;position:absolute;bottom:0;right:0;padding:6px 10px;text-align:center;text-transform:uppercase;letter-spacing:.5px;font-weight:600;font-size:8px;border-top-left-radius:4px;line-height:1;color:#aaa!important}

.socialCircle-item {
  width:56px;
  height:56px;
  box-sizing:border-box; border-radius:50%;
  background:url(../../images/bubble_btn.png) no-repeat; background-size:cover;
  position: absolute;
  margin:0;
  text-align:center;
  color: #ffffc4;
  font-size:13px;
  cursor:pointer; font-weight:500; line-height:1.2; display:flex; flex-direction:row; flex-wrap:wrap; align-items:center; justify-content:center;
}

.socialCircle-container {
  position: fixed; bottom:15px;
  width:320px; left:50%; margin-left:-160px;
}

.socialCircle-center {
  width: 140px;
  height: 140px;
  border-radius:50%;
  background:url(../../images/btn_bubble_close.png) no-repeat top; background-size:100%;
  margin:0 50%;
  position: absolute; bottom:0;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

@media only screen and (min-width:320px) and (max-width:759px){
.carbon-text{font-size:14px}
}
@media all and (min-width:768px){
.socialCircle-item{width:70px; height:70px; font-size:15px;}	
.socialCircle-container{bottom:20px; width:480px; margin-left:-240px;}
.socialCircle-center{width:160px; height:160px;}
}
